In [5]:
import pandas as pd

df = pd.read_csv('adult.csv')
#print(df)
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
             'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
df.columns = col_names

df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [14]:
df['education'].str.len().max()

13

In [16]:
df[df['age'] <= df['age'].mean() - 2* df['age'].std()]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income]
Index: []

In [17]:
evdf = pd.read_csv('Electric_Vehicle_Population_Data.csv')
evdf.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,118957.000000,118959.000000,118959.000000,118959.000000,118665.000000,1.189590e+05,1.189570e+05
mean,98158.358592,2019.225943,82.771266,1677.729176,29.780003,2.021988e+08,5.296823e+10
std,2608.853672,2.941749,101.136967,10419.858888,14.724894,9.063171e+07,1.686501e+09
min,1730.000000,1997.000000,0.000000,0.000000,1.000000,4.385000e+03,1.081042e+09
25%,98052.000000,2017.000000,0.000000,0.000000,18.000000,1.513196e+08,5.303301e+10
50%,98119.000000,2020.000000,26.000000,0.000000,34.000000,1.953611e+08,5.303303e+10
75%,98370.000000,2022.000000,204.000000,0.000000,43.000000,2.241380e+08,5.305307e+10
max,99701.000000,2023.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.603300e+10

In [34]:
# which cols have more nulls / na / nan
len(evdf['City'].unique())

evdf.isnull().sum()

VIN (1-10)                                             0
County                                                 2
City                                                   2
State                                                  0
Postal Code                                            2
Model Year                                             0
Make                                                   0
Model                                                133
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 294
DOL Vehicle ID                                         0
Vehicle Location                                      33
Electric Utility                                     462
2020 Census Tract                                      2
dtype: int64

find and separate the rows which have any null / na / nan values in any columns
bring these rows ina diff dataset
which cols have more nulls / na / nan
replace the nan values with "xyz" (string) "-1" (numeric)

In [23]:
import time
st = time.time()
len(evdf['City'].unique())
ft = time.time()
print(f"time taken = {ft-st}")

time taken = 0.007033824920654297